/* -------------------------------------------------------------------------- */
/* Reset some styles */
/* -------------------------------------------------------------------------- */

* { margin:0; padding:0; }
ol, ul, li { margin:0; padding:0; list-style: none; list-style-type: none; }
table { border-collapse:collapse; }

.clear { clear: both; }
.f-left { float: left; }
.f-right { float: right; }
.hidden { display: none; }

/* -------------------------------------------------------------------------- */
/* Master Styles */
/* -------------------------------------------------------------------------- */

body {
  background-color: #eee;
  font: 13.34px helvetica,arial,freesans,clean,sans-serif;
  line-height: 1.4;
  padding: 0px;
  margin: 0px;
}

#wrapper {
  width: 960px;
  margin: 0px auto;
  background: #fff;
  padding: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, .15) 0 3px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, .15) 0 3px 5px;
  box-shadow: rgba(0, 0, 0, .15) 0 3px 5px;
}

a { color: #4183C4; text-decoration: none; }
a:hover { text-decoration: underline; }

h1 { font-size: 20px; color: #444; }

pre.backtrace {
  font-size: 12px;
  overflow-x: auto;
  overflow-y: auto;
  border: 1px solid #ddd;
  background: #fff;
  margin: 0px;
  max-height: 500px;
  line-height: 140%;
}

pre.backtrace .line { padding: 2px; }
pre.backtrace .line:hover { background: #FFF8D6; }

.block {
  background: #f8f8f8; padding: 8px; margin-bottom: 12px;
  border-radius: 4px;
}
.block h3 { padding: 0px; margin: 0px; padding-bottom: 8px; }
.block ul {}
.block ul li { padding: 4px 0px; }

.block:last-child { margin-bottom: 0px; }

.request .request-string { font-size: 20px; color: #000; font-weight: bold; }
.request .rails-info { font-size: 15px; color: #555; }

h1 span {
  display: inline; background: #aaa; color: #fff; padding: 1px 4px;
  border-radius: 4px;
}

span.open { background: #DD2137; }
span.closed { background: #40A03E; }

div.exception-title { padding: 4px 0px; margin-bottom: 12px; }

/* -------------------------------------------------------------------------- */
/* Flash messages */
/* -------------------------------------------------------------------------- */

div.flash-message {
  font-weight: bold; padding: 8px; background: #E7E5E0; padding: 8px; font-size: 12px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin-bottom: 12px;
}
div.flash-success { background-color: #F2FFF2; color: #217A21; }
div.flash-error { background-color: #FFF2F2; color: #dd0000; }

/* -------------------------------------------------------------------------- */


table.env { width: 100%; background: #fff; border: 1px solid #ddd; }
table.env td { border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; }
table.env td.key { width: 25%; padding: 4px; }
table.env td.value {
  width: 70%;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  padding: 4px;
}
table.env td.value p { padding: 0px; margin: 0px; line-height: 140%; width: 600px; overflow-x: auto; }


table.issues-list { width: 100%; border: 1px solid #ddd; }
table.issues-list thead tr { background: #f4f4f4; }
table.issues-list thead tr th { padding: 4px; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; }
table.issues-list thead tr th:last-child { border-right: 0px none; }
table.issues-list tbody tr td { border-bottom: 1px solid #ddd; padding: 4px; border-right: 1px solid #ddd; background: #fff !important; }
/* table.issues-list tbody tr:nth-child(odd) td { background: #fafafa !important; } */
table.issues-list tbody tr td:last-child { border-right: 0px none; }
table.issues-list p.no-records { text-align: left; color: #777; padding: 10px;}

table.issues-list td.field-status { width: 5%; }
table.issues-list td.field-name { }
table.issues-list td.field-time { width: 15%; text-align: center; }
table.issues-list td.field-occurrences { width: 10%; text-align: center; }

table.issues-list td.field-status { text-align: center; width: 10%; }
table.issues-list td.field-status span {
  border-radius: 4px;
  background: #555;
  color: #fff; 
  display: inline-block;
  padding: 0px 3px;
  font-size: 11px;
}

table.issues-list td.field-status span.open { background: #DD2137 !important; }
table.issues-list td.field-status span.closed { background: #40A03E !important; }


/* -------------------------------------------------------------------------- */
/* SimpleForm */
/* -------------------------------------------------------------------------- */

.simple_form {}
.simple_form div.input { padding: 4px 0px; margin-bottom: 8px; }
.simple_form label { display: block; font-weight: bold; padding: 2px 0px; }
.simple_form label abbr { color: #ee0000; }
.simple_form input.string { font-size: 14px; padding: 4px; }
.simple_form span.error { display: block; padding: 4px 0px; color: #dd0000; font-size: 12px; font-weight: bold; }

/* -------------------------------------------------------------------------- */
/* Button Style */
/* -------------------------------------------------------------------------- */

.button {
  display:inline-block; overflow:visible; width: auto; font-weight: bold;
	text-align: center; cursor:pointer;
  text-decoration: none !important;
  text-transform: none;
  outline: 0 none;
	font-size: 12px;
  line-height: 22px;
  height: 22px;
	color: #333;
  border: solid 1px #D4D4D4;
  background: #f0f0f0; 
	padding:0 10px; margin: 0;
	-moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
	text-shadow: 1px 1px 0 #FFFFFF;
	-moz-box-shadow: 0px 0px 1px #eee;
  -webkit-box-shadow: 0px 0px 1px #eee;
  box-shadow: 0px 0px 1px #eee; 
	font-family: helvetica,arial,freesans,clean,sans-serif;
  background:#f4f4f4;
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f4f4f4',endColorstr='#ececec');
  background:-webkit-gradient(linear,left top,left bottom,from(#f4f4f4),to(#ececec));
  background:-moz-linear-gradient(top,#f4f4f4,#ececec);
}
.button::-moz-focus-inner { padding:0; border:0; }
.button:hover {
  color: #fff; text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  border: solid 1px #518cc6;
  border-bottom-color: #2a65a0;
  background: #599bdc;
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#599bdc',endColorstr='#3072b3');
  background:-webkit-gradient(linear,left top,left bottom,from(#599bdc),to(#3072b3));
  background:-moz-linear-gradient(top,#599bdc,#3072b3);
}
.button:active { text-decoration: none; background-color: #4c8ecf; color: #fff; text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3); border: solid 1px #518cc6;  }
a.button:hover, a.button:active, a.button:focus { text-decoration: none; }